@import "tailwindcss";

@theme {
    --color-g1: #4ca22f;
    --color-g2: #005ca5;
    --color-g3: #009ee3;
    --color-g4: #e41f18;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 1;
    transition: opacity 0s linear !important;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

.stop-icon {
    width: 20px;
    height: 20px;
    border: 3px solid var(--stop-color);
    background: white;
    border-radius: 20px;
    transform-origin: center center;
    transform: rotate(calc(var(--rotate) - 90deg));
}

.stop-icon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid var(--stop-color);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 50%;
    left: 50%;
    transform: translateX(10px) translateY(-6px);
    transform-origin: center;
}

.no-arrow:after {
    display: none;
}
