@import "tailwindcss";

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 1;
    transition: opacity 0s linear !important;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

.stop-iconG3 {
    width: 20px;
    height: 20px;
    border: 3px solid rgb(0, 158, 227);
    background: white;
    border-radius: 20px;
    transform-origin: center center;
    transform: rotate(calc(var(--rotate) - 90deg));
}

.stop-iconG4 {
    width: 20px;
    height: 20px;
    border: 3px solid rgb(228, 31, 24);
    background: white;
    border-radius: 20px;
    transform-origin: center center;
    transform: rotate(var(--rotate));
}

.stop-iconG3:after,
.stop-iconG4:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    left: 50%;
    transform: translateX(11px) translateY(-8px);
    transform-origin: center;
}

.no-arrow:after {
    display: none;
}
